$white: #eee; 
$green: #009688;
$text-color: #192937;
#landing-anim {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  background-color: $text-color;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  
  #landing-anim-me {
    animation: 1.5s linear fadeIn; 
    position: absolute; 
    top: 15vh;
    text-align: center;

    h1, h2 {
      color: $white;
      font-size: 3em; 
      span {
        color: $green;
        font-weight: bold; 
      }
    }
  }

  #landing-anim-actions {
    animation: 2.5s linear fadeIn;
    height: 100px; 
    position: absolute;
    bottom: 10vh;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    justify-content: space-between;

    div {
      button {
        margin: 0 25px;
      }
    }
    
    p {
      color: $white; 

      span {
        color: $green;
        cursor: pointer;
      }
    }
  }
}