#landing-anim {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  background-color: rgb(25, 41, 55);
  display: flex; 
  flex-direction: column; 
  align-items: center;
  
  #landing-anim-me {
    animation: 2s linear fadeIn; 
    position: absolute; 
    top: 20vh;
    text-align: center;

    h1, h2 {
      color: #eee;
      font-size: 3em; 
      span {
        color: rgb(0, 150, 136);
        font-weight: bold; 
      }
    }
  }
}