@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html, body {
  font-family: 'Raleway', sans-serif;
}

::selection {
  background: #192937; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #192937; /* Gecko Browsers */
}